body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #000000;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 30px;
}

.bg-1 {
  background-color: #36b0e059;
 /*  Green */
  color: #474e5d;
}

.bg-2 {
  background-color: #474e5d;
  /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

label {
  color: blue;
}

small {
  font-size: small;
  text-align: right;
}



.donate-crypto-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: text;
}

.coin {
  display: inline-block;
  position: relative;
  min-width: 3em;
  min-height: 3em;
  -webkit-animation: spin 3s cubic-bezier(0.3, 2, 0.4, 0.8) infinite both;
  animation: spin 3s cubic-bezier(0.3, 2, 0.4, 0.8) infinite both;
  transform-style: preserve-3d;
  vertical-align: middle;
}

@-webkit-keyframes spin {

  0%,
  10% {
    transform: rotate(-10deg) perspective(400px);
  }

  90%,
  100% {
    transform: rotate(-10deg) perspective(400px) rotateY(180deg);
  }
}

@keyframes spin {

  0%,
  10% {
    transform: rotate(-10deg) perspective(400px);
  }

  90%,
  100% {
    transform: rotate(-10deg) perspective(400px) rotateY(180deg);
  }
}

.coin-face {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.coin-face:nth-child(1) {
  transform: translateZ(-0.2em) rotateY(-180deg);
}

.coin-face:nth-child(2) {
  transform: translateZ(-0.1em);
}

.coin-face:nth-child(4) {
  transform: translateZ(0.1em);
}

.coin-face:nth-child(5) {
  transform: translateZ(0.2em);
}

.coin-face svg {
  width: 100%;
  height: 100%;
}

.coin-address {
  flex: 1;
  font: 0.7em/2.5 Monaco, monospace;
  text-align: center;
  margin-left: 1em;
  border-width: 0 0 2px;
  border-color: rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
  cursor: text;
}

.coin-address:hover {
  transition-duration: 0.1s;
}

.btc {
  max-width: 21em;
}

.btc .coin-face {
  background: shade(#ff9900, 35%);
}

.btc .coin-face:nth-child(1),
.btc .coin-face:nth-child(5) {
  background: #ff9900;
}

.btc .coin-address:hover,
.btc .coin-address:focus {
  border-color: #ff9900;
}

.eth {
  max-width: 23em;
}

.eth .coin-face {
  background: shade(#6F7CBA, 35%);
}

.eth .coin-face:nth-child(1),
.eth .coin-face:nth-child(5) {
  background: #6F7CBA;
}

.eth .coin-address:hover,
.eth .coin-address:focus {
  border-color: #6F7CBA;
}

.ltc {
  max-width: 21em;
}

.ltc .coin-face {
  background: shade(#b5b5b5, 35%);
}

.ltc .coin-face:nth-child(1),
.ltc .coin-face:nth-child(5) {
  background: #b5b5b5;
}

.ltc .coin-address:hover,
.ltc .coin-address:focus {
  border-color: #b5b5b5;
}

.ada {
  max-width: 21em;
}

.ada .coin-face {
  background: shade(blue, 35%);
}

.ada .coin-face:nth-child(1),
.ada .coin-face:nth-child(5) {
  background: blue;
}

.ada .coin-address:hover,
.ada .coin-address:focus {
  border-color: blue;
}

.coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  font-size: 1vmin;
}

.donate-crypto-box:nth-child(1) .coin {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.donate-crypto-box:nth-child(2) .coin {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.donate-crypto-box:nth-child(3) .coin {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

input[name="inputdatalist"] {

  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
input::-webkit-calendar-picker-indicator {
  /*   display: none; */
  }

@keyframes spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #226782;
  display:flex;
  justify-content: center;
  align-items: center;
}
.rocket{
	position:absolute;
	width:100px;
	height:100px;
	animation-name: spin;
	animation:spin 2s linear infinite;
}
@keyframes spin{ 
	0% { -webkit-transform: rotate(0deg);transform:rotate(0deg);}
	25% { -webkit-transform: rotate(90deg);transform:rotate(90deg);}
	50% { -webkit-transform: rotate(180deg);transform:rotate(180deg);}
	75% { -webkit-transform: rotate(270deg);transform:rotate(270deg);}
	100% { -webkit-transform: rotate(360deg);transform:rotate(360deg);} 
}
@media screen and (max-width: 700px){
	.rocket{
		width:250px;
		height:250px;
	}
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.name{
  padding-left: 10px;
  line-height: 1em;
}


@keyframes spin-horizontal {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
.image-rotate-horizontal{
  width: 30px;
  height: 30px;
  -moz-animation: spin-horizontal 2s infinite linear;
  -o-animation: spin-horizontal 2s infinite linear;    
  -webkit-animation: spin-horizontal 2s infinite linear;
  animation: spin-horizontal 2s infinite linear;
}